extends layout

block content
  .w3-container.w3-border.w3-blue-grey
    h1
      b
        i 
          a(href="http://localhost:3005/")
            button.w3-button.w3-blue-grey Linked Sharing
    h1
      a(href="http://localhost:3005/pubs/classifier/" + clas)
        button.w3-button.w3-blue-gray 
          b= clas
  each elem in pubs
    .w3-container.w3-border.w3-padding-16
      #user
        if(elem.criador == user.email)
          a(href="http://localhost:3005/pubs/delete/" + elem._id)
            button.w3-button.w3-light-grey Delete Post
      - var time = elem.dataCriacao.split(' ')[0] + ' at ' + elem.dataCriacao.split(' ')[1]
      p
        b= 'Posted at ' + time
      p= 'Created by ' + elem.criador
      #user
        if( user.amigos.indexOf(elem.criador) > -1 )
          a(href="http://localhost:3005/remove/" + elem.criador)
            button.w3-button.w3-blue-grey Remove friend
        else if (elem.criador == user.email)
        else
          a(href="http://localhost:3005/add/" + elem.criador)
            button.w3-button.w3-blue-grey Add friend
      #user
        if elem.tipo == "Event"
          - var time2 = elem.dataRealizar.split(' ')[0] + ' at ' + elem.dataRealizar.split(' ')[1]
          p
            b=elem.titulo
          p= 'Will occur at ' + time2 
      p=elem.texto
      .w3-container.w3-light-grey
        p
          b Files Avaliables
        #user
          if elem.ficheiros.length > 0
            each elem2 in elem.ficheiros
              a(href="http://localhost:3005/file/" + elem2.filename)
                button.w3-button.w3-light-grey= elem2.name
          else
            p There's no files uploaded
      .w3-container.w3-light-grey
        p 
          b Comments
        #user
          if elem.comentarios.length > 0
            each elem2 in elem.comentarios
              p= elem2.criador + ' : ' + elem2.texto
          else
            p No comments for now
        form.w3-container(action="/pubs/comment/" + elem._id method="post")
          label Text:
          input.w3-input(type="text" name="texto")
          input.w3-input(type="submit" value="Comment")